
* {
  font-family: 'Roboto', sans-serif;
}


/* Nav Bar */

.nav-bar-container {
  background-color: #649d66;
  position: sticky !important;
}

.nav-bar-logo {
  width: 5.5rem;
}

.search-bar-button {
  color: #f6d743 !important;
  border-color: #f6d743 !important;
}

.form-wrapper {
  margin-right: 5rem;
}

/* CharactersPage */

.characters-page-container {
  margin-top: 5rem
}