
/* Everything */

* {
  font-family: 'Roboto', sans-serif;
}




/* Nav Bar */

.nav-bar-container {
  background-color: #649d66;
  position: sticky !important;
}

.nav-bar-logo {
  width: 7rem !important;
  height: 6rem !important;
}

.search-bar-button {
  color: #f6d743 !important;
  border-color: #f6d743 !important;
}

.form-wrapper {
  margin-right: 5rem;
}



/* All CharactersPage */

 img {
  width: 17rem;
  height: 22rem;
}

.characters-container {
  display: grid;
  grid-template-columns:  repeat(4, 20.1rem);
  grid-template-rows: 27rem auto;
  row-gap: 3rem; 
  justify-content: space-around;
  padding: 2.5rem; 
  padding-bottom: 25rem;
  background-color: #d2dab9;
}

.all-characters-cards-container {
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  border-radius: 1%;
  padding: .5rem;
  margin: .5rem;
  border: solid .5rem #06623b;
  background-color: #06623b;
}

.all-characters-cards-title {
  color: #f6d743;
  font-weight: bold;
  align-self: center;
  margin-top: .5rem;
  margin-bottom: 1rem;
}

.footer-paragraph {
  margin-bottom: 0;
}



/* Individual Character  */

.characters-page-container {
  border: dotted .5rem pink;
  
}

.characters-page-cards-container {
  border: dotted .5rem pink;

}

.characters-page-cards-title-name {
  border: dotted pink  1.5rem;
}

.characters-page-cards-descriptions {
  border: dotted pink  1.5rem;
}





/*  
========================================================
======================Media Query=======================
========================================================
*/

/* All Characters Page Media Query */

@media (max-width: 1300px) {

  .characters-container {
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    grid-template-rows: 27rem auto;
    grid-gap: 1.5rem;
    justify-content: space-around;
    padding: 1.5rem;
    padding-bottom: 25rem;
    background-color: #d2dab9;
  }  

  .all-characters-cards-container {
    font-size: 1.3rem;
  }
}


@media (max-width: 1150px) {

  .navbar-toggler {
    padding-right: 2.5rem !important;
}

  .characters-container {
    display: grid;
    grid-template-columns: repeat(3, 16rem);
    grid-template-rows: 23rem auto;
    grid-gap: .5rem; 
    justify-content: space-around;
    padding: 1rem; 
    padding-bottom: 25rem;
    background-color: #d2dab9;
  }  

  .all-characters-cards-container {
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    border-radius: 1%;
    border: solid .5rem #06623b;
    background-color: #06623b;
  }

  img {
    width: 13.2rem;
    height: 18rem;
  }  
}


@media (max-width: 900px) {

  .characters-container {
    display: grid;
    grid-template-columns: repeat(3, 16rem);
    grid-template-rows: 23rem auto;
    grid-gap: .5rem; 
    justify-content: space-around;
    padding: 1.2rem; 
    padding-bottom: 25rem;
    background-color: #d2dab9;
  }  

  .all-characters-cards-container {
    font-size: 1.1rem;
    text-align: center;
    text-decoration: none;
    border-radius: 1%;
    border: solid .5rem #06623b;
    background-color: #06623b;
  }
}

@media (max-width: 800px) {

  .characters-container {
    display: grid;
    grid-template-columns: repeat(3, 14rem);
    grid-template-rows: 20rem auto;
    grid-gap: .5rem; 
    justify-content: space-around;
    padding: 1rem; 
    padding-bottom: 25rem;
    background-color: #d2dab9;
  }  

  .all-characters-cards-container {
    font-size: 1.1rem;
    text-align: center;
    text-decoration: none;
    border-radius: 1%;
    border: solid .5rem #06623b;
    background-color: #06623b;
  }

  img {
    width: 11.2rem;
    height: 15rem;
  }  
}

@media (max-width: 680px) {

  .navbar-toggler {
    padding-right: 1.75rem !important;
}

  .characters-container {
    display: grid;
    grid-template-columns: repeat(2, 16rem);
    grid-template-rows: 22rem auto;
    grid-gap: .5rem; 
    justify-content: space-around;
    padding: 1rem; 
    padding-bottom: 25rem;
    background-color: #d2dab9;
  }  

  .all-characters-cards-container {
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    border-radius: 1%;
    border: solid .5rem #06623b;
    background-color: #06623b;
  }

  img {
    width: 13.2rem;
    height: 17.2rem;
  }  
}

@media (max-width: 500px) {

  .characters-container {
    display: grid;
    grid-template-columns: repeat(1, 26rem);
    grid-template-rows: 35rem auto;
    grid-gap: .5rem; 
    justify-content: space-around;
    padding: 1rem; 
    padding-bottom: 25rem;
    background-color: #d2dab9;
  }  

  .all-characters-cards-container {
    font-size: 1.8rem;
    text-align: center;
    text-decoration: none;
    border-radius: 1%;
    border: solid .5rem #06623b;
    background-color: #06623b;
  }

  img {
    width: 23.2rem;
    height: 29.2rem;
  }  
}

@media (max-width: 450px) {

  .characters-container {
    display: grid;
    grid-template-columns: repeat(1, 22rem);
    grid-template-rows: 26rem auto;
    grid-gap: .5rem; 
    justify-content: space-around;
    padding: 1rem; 
    padding-bottom: 25rem;
    background-color: #d2dab9;
  }  

  .all-characters-cards-container {
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    border-radius: 1%;
    border: solid .5rem #06623b;
    background-color: #06623b;
  }

  img {
    width: 19.2rem;
    height: 21.2rem;
  }  
}